<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="../public/css/index.css">
</head>
<body>
    <h3><%= message %></h3>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit">Submit</button>
    </form>
    <p class="<%=text !==""? "ascii-art" : "invisible"%>" >
        <%= text %>
    </p>
</body>
</html>